name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: go mod download

      - name: Lint
        run: go vet ./...

      - name: Test
        run: go test ./...

